*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(61, 19, 61);
}

.ball {
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputfield {
    display: flex;
    justify-content: center;

}

input {
    position: absolute;
    top: 60vh;
    padding: 15px 20px 15px 15px;
    font-size: 15px;
    border-radius: 30px;
    text-align: left;
    border: 0;

}

input:focus {
    outline: 2px solid rgb(165, 15, 165);
}
button {
    position: absolute;
    top: 68vh;
    padding: 10px 80px;
    font-size: 20px;
    border-radius: 30px;
    background-color: rgb(165, 15, 165);
    color: white;
    border: 2px solid rgb(165, 15, 165);
   

}
button:hover {
    background-color: rgb(61, 19, 61);
}

#response {
    color: black;
    text-align: center;
    border-radius: 50%;
    font-size: 120px;
    width: 70px;
}

.whitesurface {
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}